@use '../abstracts' as *;

/* purgecss start ignore */

input,
button,
textarea,
select {
  font: inherit;
}

.form,
form {
  --form-gap: 1rem;
  display: grid;
  gap: var(--form-gap);
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--form-gap);

  @media (width < 800px) {
    grid-template-columns: 1fr;
  }
}

.form-item {
  display: grid;
  gap: 0.25rem;
}

::placeholder {
  color: $text-body;
}

label,
.form-label {
  font-size: 0.875rem;
  font-family: $ff-base;
}

input:not(.button, select),
textarea {
  flex-grow: 1;
  font-size: $fs-regular;
  color: $primary;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border: solid 1px $border-primary;
  border-radius: 1rem;
  outline: none;
  resize: none;
}

// Checkbox

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

// Radio

input[type='radio'] {
  accent-color: $accent;
}

// Search

.search-wrapper {
  position: relative;
  max-width: 15rem;

  .search-icon {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
  }
}

input[type='search'] {
  height: 100%;
  width: 100%;

  &::placeholder {
    font-family: $ff-accent;
    font-size: 1.25rem;
    line-height: 1.1;
    color: $accent;
  }
}

// Select

select {
  appearance: none;
  position: relative;
  width: 100%;
  max-width: 100%;
  font-family: $ff-base;
  font-size: 1.25rem;
  line-height: 1.1;
  color: $accent;
  padding: 1rem 3rem 1rem 1.5rem;
  border: 1px solid $border-primary;
  border-radius: 1rem;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.3s;

  background-image: url('../images/icons/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-size: 0.675rem;

  option {
    background-color: $bg-secondary;
    color: $text-body;
  }
}

input:focus-within,
textarea:focus-within {
  border: 1px solid $primary;
}
/* purgecss end ignore */
