<!-- Tabs -->
<div class="tabs-container w-full">
  <ul aria-labelledby="" class="tabs-list">
    <li>
      <a id="tab-1-link" class="button tab-button" href="#tab-1"> 2023</a>
    </li>
    <li>
      <a id="tab-2-link" class="button tab-button" href="#tab-2">2022</a>
    </li>
  </ul>
  <div class="tabs__panels">
    <div id="tab-1" aria-labelledby="tab-1">
      <div class="tab-content">
        <article>
          <h2>Header</h2>
          <h3>Header 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam rhoncus aliquam metus. Phasellus faucibus
            molestie nisl. Suspendisse nisl. Phasellus rhoncus. Aenean placerat. Pellentesque pretium lectus id turpis.
            Nullam sit amet magna in magna gravida vehicula. In dapibus augue non sapien. Aenean fermentum risus id
            tortor. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est.
          </p>
        </article>
      </div>
    </div>
    <div id="tab-2" aria-labelledby="tab-2">
      <div class="tab-content">
        <article>
          <h2>Header</h2>
          <h3>Header 2</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam rhoncus aliquam metus. Phasellus faucibus
            molestie nisl. Suspendisse nisl. Phasellus rhoncus. Aenean placerat. Pellentesque pretium lectus id turpis.
            Nullam sit amet magna in magna gravida vehicula. In dapibus augue non sapien. Aenean fermentum risus id
            tortor. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
<!-- Load script -->
<script async src="./js/tabs.js"></script>
