@use '../abstracts' as *;

.alert-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-primary;
  padding: 2.5rem 1.5rem;
  color: $primary;
  margin-bottom: 1.5rem;
}
