@use '../abstracts/' as *;

.container {
  --container-max-width: #{$container-max-width};
  width: 100%;
  max-width: var(--container-max-width);
  margin-inline: auto;
  padding-inline: $padding-site;
}

.container.max-w-small {
  --container-max-width: #{$container-max-width-small};
}

.container.max-w-article {
  --container-max-width: #{$container-max-width-article};
}

.container.max-w-static-page {
  --container-max-width: #{$container-max-width-static-page};
}

.container.max-w-100 {
  --container-max-width: 100%;
}

.container.max-w-full {
  width: 100%;
  padding-inline: 0;
}
