@use '../abstracts/' as *;

@each $size, $value in $sizes {
  .m-#{$size} {
    margin: #{$value};
  }
}

.m-auto {
  margin: auto;
}

@each $size, $value in $sizes {
  .mx-#{$size} {
    margin-inline: #{$value};
  }
}

.mi-auto {
  margin-inline: auto;
}

@each $size, $value in $sizes {
  .my-#{$size} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }
}

@each $size, $value in $sizes {
  .ms-#{$size} {
    margin-inline-start: #{$value};
  }
}

@each $size, $value in $sizes {
  .me-#{$size} {
    margin-inline-end: #{$value};
  }
}

.mt-auto {
  margin-top: auto;
}

@each $size, $value in $sizes {
  .mt-#{$size} {
    margin-top: #{$value};
  }
}

.mr-auto {
  margin-right: auto;
}

@each $size, $value in $sizes {
  .mr-#{$size} {
    margin-right: #{$value};
  }
}

.mb-auto {
  margin-bottom: auto;
}

@each $size, $value in $sizes {
  .mb-#{$size} {
    margin-bottom: #{$value};
  }
}

.ml-auto {
  margin-left: auto;
}

@each $size, $value in $sizes {
  .ml-#{$size} {
    margin-left: #{$value};
  }
}
