@use '../abstracts/' as *;

.radius-none {
  border-radius: 0;
}

.radius-full {
  border-radius: 100%;
}

// Small

.radius-s {
  border-radius: $border-radius-s;
}

.radius-t-s {
  border-top-left-radius: $border-radius-s;
  border-top-right-radius: $border-radius-s;
}

.radius-r-s {
  border-top-right-radius: $border-radius-s;
  border-bottom-right-radius: $border-radius-s;
}

.radius-b-s {
  border-bottom-right-radius: $border-radius-s;
  border-bottom-left-radius: $border-radius-s;
}

.radius-l-s {
  border-bottom-left-radius: $border-radius-s;
  border-top-left-radius: $border-radius-s;
}

.radius-tl-s {
  border-top-left-radius: $border-radius-s;
}

.radius-tr-s {
  border-top-right-radius: $border-radius-s;
}

.radius-br-s {
  border-bottom-right-radius: $border-radius-s;
}

.radius-bl-s {
  border-bottom-left-radius: $border-radius-s;
}

// Regular

.radius-r {
  border-radius: $border-radius-r;
}

.radius-t-r {
  border-top-left-radius: $border-radius-r;
  border-top-right-radius: $border-radius-r;
}

.radius-r-r {
  border-top-right-radius: $border-radius-r;
  border-bottom-right-radius: $border-radius-r;
}

.radius-b-r {
  border-bottom-right-radius: $border-radius-r;
  border-bottom-left-radius: $border-radius-r;
}

.radius-l-r {
  border-bottom-left-radius: $border-radius-r;
  border-top-left-radius: $border-radius-r;
}

.radius-tl-r {
  border-top-left-radius: $border-radius-r;
}

.radius-tr-r {
  border-top-right-radius: $border-radius-r;
}

.radius-br-r {
  border-bottom-right-radius: $border-radius-r;
}

.radius-bl-r {
  border-bottom-left-radius: $border-radius-r;
}

// Medium

.radius-m {
  border-radius: $border-radius-m;
}

.radius-t-m {
  border-top-left-radius: $border-radius-m;
  border-top-right-radius: $border-radius-m;
}

.radius-r-m {
  border-top-right-radius: $border-radius-m;
  border-bottom-right-radius: $border-radius-m;
}

.radius-b-m {
  border-bottom-right-radius: $border-radius-m;
  border-bottom-left-radius: $border-radius-m;
}

.radius-l-m {
  border-bottom-left-radius: $border-radius-m;
  border-top-left-radius: $border-radius-m;
}

.radius-tl-m {
  border-top-left-radius: $border-radius-m;
}

.radius-tr-m {
  border-top-right-radius: $border-radius-m;
}

.radius-br-m {
  border-bottom-right-radius: $border-radius-m;
}

.radius-bl-m {
  border-bottom-left-radius: $border-radius-m;
}

// Large

.radius-l {
  border-radius: $border-radius-l;
}

.radius-t-l {
  border-top-left-radius: $border-radius-l;
  border-top-right-radius: $border-radius-l;
}

.radius-r-l {
  border-top-right-radius: $border-radius-l;
  border-bottom-right-radius: $border-radius-l;
}

.radius-b-l {
  border-bottom-right-radius: $border-radius-l;
  border-bottom-left-radius: $border-radius-l;
}

.radius-l-l {
  border-bottom-left-radius: $border-radius-l;
  border-top-left-radius: $border-radius-l;
}

.radius-tl-l {
  border-top-left-radius: $border-radius-l;
}

.radius-tr-l {
  border-top-right-radius: $border-radius-l;
}

.radius-br-l {
  border-bottom-right-radius: $border-radius-l;
}

.radius-bl-l {
  border-bottom-left-radius: $border-radius-l;
}
