@use '../abstracts/' as *;

.section,
section {
  &.padding-both {
    padding: $padding-section 0;
  }

  &.padding-top {
    padding-top: $padding-section;
  }

  &.padding-bottom {
    padding-bottom: $padding-section;
  }

  &.padding-bottom-extra {
    padding-bottom: calc(#{$padding-section} * 2);
  }

  &.padding-top-extra {
    padding-top: calc(#{$padding-section} * 2);
  }

  &.padding-top-half {
    padding-top: calc(#{$padding-section} / 2);
  }

  &.padding-bottom-half {
    padding-bottom: calc(#{$padding-section} / 2);
  }
}
