// For use in the code base
$primary: #0b1f3a;
$accent: #ff0028;
$text-body: #0b1f3a;
$text-body-light: #6d7989;
$gray: #e7e9ec;
$stroke: #ced2d8;
$stroke-dark: #24364e;
$white: #ffffff;
$black: #000000;

// For creating utility classes
$colors: (
  primary: #0b1f3a,
  accent: #ff0028,
  text-body: #0b1f3a,
  text-body-light: #6d7989,
  gray: #e7e9ec,
  stroke: #ced2d8,
  stroke-dark: #24364e,
  white: #ffffff,
  black: #000000
);
