@use 'colors' as *;
@use 'sizes' as *;

//Typography
$ff-base: 'Roboto', system-ui, sans-serif;
$ff-accent: 'Roboto', serif;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

$fs-regular: 1rem;
$fs-small: 0.85rem;

// Paddings
$padding-default: clamp(1rem, 0.7653rem + 0.8163vw, 1.5rem);
$padding-site: clamp(1rem, 0.7653rem + 0.8163vw, 1.5rem);
$padding-section: clamp(3rem, 1.5714rem + 4.5714vw, 5rem);

// Containers
$container-max-width: 1400px;
$container-max-width-narrow: 900px;
$container-max-width-article: 900px;

// Breakpoints
$medium-small: 480px;
$medium-medium: 768px;
$medium-large: 992px;
$medium-extra-large: 1200px;

// Transitions
$transition: all 300ms ease-in-out;

// Border radius
$border-radius-sm: 0.25rem;
$border-radius: 0.5rem;
$border-radius-md: 1rem;
$border-radius-lg: 2.5rem;
