@use 'colors' as *;
@use 'sizes' as *;

//Typography
$ff-base: 'Inter', system-ui, sans-serif;
$ff-accent: 'Bison', serif;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-black: 900;

$fw-100: 100;
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-900: 900;

$fs-tiny: 0.75rem;
$fs-small: 0.85rem;
$fs-regular: 1rem;
$fs-medium: 1.2rem;
$fs-large: 1.35rem;

// Paddings
$padding-default: clamp(1rem, 0.7653rem + 0.8163vw, 1.5rem);
$padding-site: clamp(1rem, 0.7653rem + 0.8163vw, 1.5rem);
$padding-section: clamp(3rem, 1.5714rem + 4.5714vw, 5rem);

// Containers
$container-max-width: 1400px;
$container-max-width-small: 900px;
$container-max-width-article: 900px;
$container-max-width-static-page: 1100px;

// Breakpoints
$medium-small: 30rem;
$medium-medium: 48rem;
$medium-large: 62rem;
$medium-extra-large: 75rem;

// Transitions
$transition: all 300ms ease-in-out;

// Border radius
$border-radius-xxs: clamp(0.25rem, calc(0vw + 0.25rem), 0.25rem);
$border-radius-xs: clamp(0.38rem, calc(-0.19vw + 0.54rem), 0.5rem);
$border-radius-s: clamp(0.63rem, calc(-0.19vw + 0.79rem), 0.75rem);
$border-radius-r: clamp(0.75rem, calc(-0.37vw + 1.07rem), 1rem);
$border-radius-m: clamp(1.25rem, calc(-0.37vw + 1.57rem), 1.5rem);
$border-radius-l: clamp(1.63rem, calc(-0.56vw + 2.11rem), 2rem);
$border-radius-xl: clamp(2rem, calc(-0.74vw + 2.65rem), 2.5rem);

// Main nav height
$nav-height: 80px;
