<li>
  <div class="card-match">
    <div class="card-match_header">
      <img class="mb-2" src="./images/logos/chance-liga_logo.svg" alt="Logo chance ligy" />
      <p class="fs-small">Sobota 21.5.2024</p>
      <p class="uppercase">Stadion</p>
    </div>
    <div class="card-match_teams">
      <img class="card-match_team-logo" src="./images/logos/teams/sparta.png" alt="Logo Teamu XY" loading="lazy" />
      <div class="card-match_teams-content">
        <div class="flex-col gap-1">
          <p class="text-right fc-white">3</p>
          <p class="text-right">2</p>
        </div>
        <div class="flex-col gap-1">
          <p class="fc-white">FC Hradec Králové</p>
          <p>FC Sparta Praha</p>
        </div>
      </div>
    </div>
    <nav class="nav-list" aria-label="Karta utkání team A vs team B">
      <ul role="menubar" class="card-match_buttons-wrapper">
        <li role="none">
          <a href="" class="button secondary small" role="menuitem" tabindex="0" aria-label="Reportáž utkání">
            Reportáž
          </a>
        </li>
        <li role="none">
          <a href="" class="button secondary small" role="menuitem" tabindex="-1" aria-label="Ohlasy z utkání">
            Ohlasy
          </a>
        </li>
        <li role="none">
          <a href="" class="button secondary small" role="menuitem" tabindex="-1" aria-label="Sestřih utkání">
            Sestřih
          </a>
        </li>
        <li role="none">
          <a href="" class="button secondary small" role="menuitem" tabindex="-1" aria-label="Online přenos">
            On-line
          </a>
        </li>
      </ul>
    </nav>
  </div>
</li>
