<div class="report-header-card">
  <img class="report-header-card_league-logo mb-2" src="./images/logos/chance-liga_logo.svg" alt="" />
  <p class="fs-small mb-6"><span>Sobota 21.5.2024</span> | <span>16:00</span></p>
  <p class="report-header-card_score mb-4 score-mobile">2 - 1</p>
  <div class="report-header-card_teams-wrapper">
    <div class="report-header-card_team is-home">
      <img class="report-header-card_team-logo" src="./images/logos/teams/hradec.png" alt="" />
      <p class="h3">FFC Hradec Králové</p>
    </div>
    <p class="report-header-card_score score-desktop">2 - 1</p>
    <div class="report-header-card_team is-away">
      <img class="report-header-card_team-logo" src="./images/logos/teams/bohemians.png" alt="" />
      <p class="h3">FC Bohemians</p>
    </div>
  </div>
</div>
