<li role="none">
  <a href="player-profile.html" class="card-roster" role="gridcell" tabindex="0" aria-label="Hráč Jméno Příjmení">
    <div class="player-img-wrapper">
      <img class="player-photo" src="./images/roster/player.webp" alt="Player name" loading="lazy" />
      <img
        class="player-photo player-photo-active"
        src="./images/roster/player-active.webp"
        alt="Player name"
        loading="lazy" />
      <div class="label position">Hlavní trenér</div>
      <img class="team-logo" src="./images/logos/teams/sparta.png" alt="Team logo" loading="lazy" />
    </div>
    <div class="card-roster_footer flex-col gap-4">
      <p class="card-roster_number">69</p>
      <div class="flex-col gap-1">
        <p class="card-roster_name h3 fc-text-body">Jméno</p>
        <p class="card-roster_surename h2">DlouhéPříjmení</p>
      </div>
    </div>
  </a>
</li>
