<li role="none">
  <a href="article.html" class="card-article" role="gridcell" tabindex="0" aria-label="Article title">
    <div class="article-img-wrapper"><img src="./images/content/img1.webp" alt="" loading="lazy" /></div>
    <p class="card-article_header">Jsem rád, že jsem mohl pomoct týmu, hlásí Jakub Kučera.</p>
    <div class="flex-row gap-4 justify-between">
      <p class="fc-accent uppercase card-info-text">Preview</p>
      <p class="card-info-text fc-text-body">Neděle</p>
    </div>
  </a>
</li>
