<div class="flex-col">
  <p class="fc-white mb-2">Poslední zápas</p>
  <div class="card-match-hp">
    <div class="card-match-hp_header">
      <p class="fs-small fc-white fw-700">Chance liga - 13. kolo</p>
      <p class="fs-small"><span>Sobota 21.5.2024</span> | <span>16:00</span></p>
    </div>
    <div class="card-match-hp_teams">
      <div class="card-match-hp_team team-1">
        <img src="./images/logos/teams/sparta.png" alt="" />
        <p>FC SPA</p>
      </div>
      <div class="match-hp-score">2:4</div>
      <div class="card-match-hp_team team-2">
        <img src="./images/logos/teams/hradec.png" alt="" />
        <p>FC HK</p>
      </div>
    </div>
    <nav class="nav-list" aria-label="Karta utkání team A vs team B">
      <ul role="menubar" class="flex-row justify-center gap-2 flex-wrap">
        <li role="none">
          <a href="" class="button secondary small" role="menuitem" tabindex="0" aria-label="Přejít na button 1">
            Button 1
          </a>
        </li>
        <li role="none">
          <a href="#" class="button secondary small" role="menuitem" tabindex="-1" aria-label="Přejít na button 2">
            Button 2
          </a>
        </li>
        <li role="none">
          <a href="#" class="button secondary small" role="menuitem" tabindex="-1" aria-label="Přejít na button 3">
            Button 3
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
