<!---- Footer ---->
<footer>
  <div class="container">
    <div class="flex flex-col fj-center gap-12">
      <div class="footer-nav-wrapper">
        <div class="footer-col gap-6">
          <a href="" class="h4">Kontakty</a>
          <div class="footer-list has-dropdown">
            <p>FC Hradec Králové, a.s.</p>
            <p>Malšovická 821/1</p>
            <p>Malšovice</p>
            <p>Hradec Králové 9</p>
            <p>9500 09</p>
            <p>+420 495 515 532</p>
            <p>fchk@fchk.cz</p>
          </div>
        </div>
        <div class="footer-col gap-6">
          <a href="" class="h4">Klub</a>
          <ul class="nav-list footer-list has-dropdown" role="menubar" aria-label="Menu xy...">
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Historie</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Stadion</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Vedení klubu</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Partneři</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Akreditace</a></li>
          </ul>
        </div>
        <div class="footer-col gap-6">
          <a href="" class="h4">Týmy</a>
          <ul class="nav-list footer-list has-dropdown" role="menubar" aria-label="Menu xy...">
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">A-tým</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Ženy</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Mládež</a></li>
          </ul>
          <a href="" class="h4">Link 2</a>
          <a href="" class="h4">Link 3</a>
        </div>
        <div class="footer-col gap-6">
          <a href="" class="h4">Rozcestník</a>
          <ul class="nav-list footer-list has-dropdown" role="menubar" aria-label="Menu xy...">
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Fanzóna</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Fanshop</a></li>
            <li role="none"><a href="" role="menuitem" tabindex="0" aria-label="">Ticketing</a></li>
          </ul>
        </div>
        <div class="footer-col gap-6 is-last">
          <a href="" class="h4">Mobilní aplikace</a>
          <div class="footer-list">
            <div class="flex-row gap-4 flex-wrap mb-10">
              <div class="flex-row gap-4 flex-wrap">
                <a href="">
                  <img
                    class="store-button"
                    src="./images/content/appstore-download.png"
                    alt="Appstore tlačítko ke stažení" />
                </a>
                <a href="">
                  <img
                    class="store-button"
                    src="./images/content/googleplay-download.png"
                    alt="Googleplay tlačítko ke stažení" />
                </a>
              </div>
            </div>
          </div>
          <p class="h4">Sledujte nás</p>
          <div class="footer-list">
            <div class="flex-row gap-x-6 gap-y-4 flex-wrap">
              <a href="" target="_blank"><img class="socials-icon" src="./images/icons/facebook.svg" alt="" /></a>
              <a href="" target="_blank"><img class="socials-icon" src="./images/icons/instagram.svg" alt="" /></a>
              <a href="" target="_blank"><img class="socials-icon" src="./images/icons/youtube.svg" alt="" /></a>
              <a href="" target="_blank"><img class="socials-icon" src="./images/icons/x.svg" alt="" /></a>
              <a href="" target="_blank"><img class="socials-icon" src="./images/icons/tiktok.svg" alt="" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="divider-line"></div>
      <div>
        © 2025 Company name, a.s.,
        <a href="https://esportsmedia.cz/" target="_blank"> eSports.cz, s.r.o.</a> |
        <a href="">Ochrana osobních údajů</a> |
        <a href="javascript:void()" type="button" data-cc="c-settings">Nastavení cookies</a>
      </div>
    </div>
  </div>
</footer>
