<!--- Preconnect--->
<!-- Asynchronní JS (GA etc.) -->
<!--- @Import CSS --->
<!--- Local CSS --->
<link rel="stylesheet" href="./css/cookieconsent.css" />
<link rel="stylesheet" href="./css/styles.css" />
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css" />
<!-- Cookie consent -->
<script defer src="./js/cookieconsent.js"></script>
<script defer src="./js/cookieconsent-init.js"></script>
<script defer src="./js/cookieconsent-social.js" type="text/plain" data-cookiecategory="social"></script>
