<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="resource-type" content="document" />
<meta name="rating" content="general" />
<meta name="distribution" content="global" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>Website title</title>
<!--- Preconnect--->
<!-- Asynchronní JS (GA etc.) -->
<!--- @Import CSS --->
<!--- Local CSS --->
<link rel="stylesheet" href="./css/cookieconsent.css" />
<link rel="stylesheet" href="./css/styles.css" />
<link href="./font/stylesheet.css" rel="stylesheet" type="text/css" />
<!-- Cookie consent -->
<script defer src="./js/cookieconsent.js"></script>
<script defer src="./js/cookieconsent-init.js"></script>
<script defer src="./js/cookieconsent-social.js" type="text/plain" data-cookiecategory="social"></script>
<!-- SEO, meta značky, ikony, Open Graph… -->
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta property="og:title" itemprop="name" content="" />
<meta property="og:url" content="" />
<meta property="og:description" itemprop="description" content="XXXXX" />
<meta property="og:image" content="URL_to_img" />
@@include('./fav.html')
