<!---- Main navigation ---->
<header class="header-nav">
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html">
        <img class="nav-logo" src="./images/nav-logo.png" alt="Company Logo" />
      </a>
      <div class="menu-btn"><div class="menu-btn-burger"></div></div>
      <div class="nav-menu">
        <ul class="nav-menu-list">
          <li>
            <a href="./o-turnaji.html">O nás</a>
            <img src="./images/icons/arrow-right.png" alt="" />
          </li>
          <li><a href="./zapasy.html">Zápasy</a><img src="./images/icons/arrow-right.png" alt="" /></li>
          <li><a href="./novinky.html">Novinky</a><img src="./images/icons/arrow-right.png" alt="" /></li>
          <li><a href="./tymy.html">Týmy</a><img src="./images/icons/arrow-right.png" alt="" /></li>
          <li>
            <a href="./historie.html">Historie</a>
            <img src="./images/icons/arrow-right.png" alt="" />
          </li>
          <li>
            <a href="./galerie.html">Fotogalerie</a>
            <img src="./images/icons/arrow-right.png" alt="" />
          </li>
          <li>
            <a href="./kontakty.html">Kontakty</a>
            <img src="./images/icons/arrow-right.png" alt="" />
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script async src="./js/main-nav.js"></script>
