<!-- Skip to Content Link -->
<a href="#main-content" class="skip-to-content button">Přeskočit na hlavní obsah</a>
<!---- Main navigation ---->
<header class="header-nav">
  <div class="container">
    <nav class="main-nav" role="navigation" aria-label="Hlavní navigace">
      <a href="./index.html" aria-label="Přejít na hlavní stranu">
        <img class="nav-logo" src="./images/logos/teams/hradec.png" alt="Klubové logo" />
      </a>
      <button class="menu-btn" tabindex="0" role="button" aria-label="Otevřít menu">
        <div class="menu-btn-burger"></div>
      </button>
      <div class="nav-menu">
        <ul class="nav-menu-list nav-list" role="navigation" aria-label="Hlavní navigace">
          <li role="none" class="has-submenu">
            <a
              class="nav-menu-link open-submenu-link"
              href=""
              role="menuitem"
              tabindex="0"
              aria-label="Položka menu XY">
              Klub
            </a>
            <ul class="nav-submenu-list" role="navigation" aria-label="Submenu klubu">
              <li role="none"><a href="">Historie</a></li>
              <li role="none"><a href="">Vedení</a></li>
              <li role="none"><a href="">Kontakty</a></li>
            </ul>
          </li>
          <li role="none">
            <a class="nav-menu-link" href="" role="menuitem" tabindex="0" aria-label="Položka menu XY"> Novinky </a>
          </li>
          <li role="none">
            <a class="nav-menu-link" href="" role="menuitem" tabindex="0" aria-label="Položka menu XY"> Týmy </a>
          </li>
          <li role="none">
            <a class="nav-menu-link" href="" role="menuitem" tabindex="0" aria-label="Položka menu XY"> Fanzóna </a>
          </li>
          <li role="none">
            <a class="nav-menu-link" href="" role="menuitem" tabindex="0" aria-label="Položka menu XY"> Partneři </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<script async src="./js/main-nav.js"></script>
