<nav class="pagination-wrapper" aria-label="Navigace stránek" role="navigation">
  <ul class="nav-list pagination" role="menubar">
    <li class="pagination-item" role="none">
      <a class="pagination-link" href="" role="menuitem" tabindex="-1" aria-label="Jít na stránku 1">1</a>
    </li>
    <li class="pagination-item" role="none">
      <a class="pagination-link" href="" role="menuitem" tabindex="-1" aria-label="Jít na stránku 4">4</a>
    </li>
    <li class="pagination-item active" role="none">
      <a aria-current="page" role="menuitem" tabindex="-1" aria-label="Stránka 5, aktuální stránka">5</a>
    </li>
    <li class="pagination-item" role="none">
      <a class="pagination-link" href="" role="menuitem" tabindex="-1" aria-label="Jít na stránku 6">6</a>
    </li>
    <li class="pagination-item" role="none">
      <a class="pagination-link" href="" role="menuitem" tabindex="-1" aria-label="Jít na stránku 20">20</a>
    </li>
  </ul>
</nav>
